@import url(./__title/lead__title.css);
@import url(./__subbtitle/lead__subbtitle.css);
@import url(./__image/lead__image.css);
@import url(./__capiton/lead_capiton.css);

.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}