.footer__links {
    display: flex;
    list-style-type: none;    
    padding: 0;    
    margin: 0;    
}

@media screen and (max-width: 720px) {
    .footer__links {      
        display: block;
        margin: 0 0 48px;  
        max-width: 186px;     
    }
  }
  