.cover {
  margin: 92px auto 92px;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 66px;
    margin-bottom: 64px;    
  }
}
