.lead__capiton {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: left;
    align-self: flex-start;
    margin: 8px 0 0 0;
    max-width: 158px;    
}

@media screen and (max-width: 768px) {
    .lead__capiton {
      margin-left: 16px;
    }
  }