.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 245px 312px 245px;
  box-sizing: border-box;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    padding: 115px 104px;
  }
}

@media screen and (max-width: 470px) {
  .cover__background {
    padding: 33px 16px;
  }
}
